h1{
  margin-left: 40rem;
  margin-top: 4rem;

}

.top{
  background-color: #f0f0f0;
  margin-left: 24rem;
  margin-top: 1rem;
  height: 500px;
  width: 600px;
padding-left: 180px;
padding-top: 2rem;
}

.top input{
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: #f0f0f0;
}


.top button{
  height: 32px;
  margin-left: 1rem;
}